<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .blue {
            color: blue;
        }
        .green {
            color: green;
        }
    </style>
</head>
<body>
<!--    <p th:text="'안녕하세요.' + ${msg}">안녕 반가워</p>-->
    <p th:class="${age} < 20 ? 'blue' : 'green'"
       th:text="'20세는 성인입니다.'">
    </p>

    <h3>th:each 예시</h3>
    <ul>
        <li th:each="name :${names}" th:text="${name}"></li>

    </ul>

    <h3>클래스 예시</h3>
    <div th:text="${classHello.getAge()}"></div>

</body>
</html>