<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Res 결과 확인</h1>
<ul>
    <li>이름 : <strong th:text="${name}"></strong></li>
    <li>성별 : <strong th:text="${gender}"></strong></li>
    <li>생년월일 : <strong th:text="${birthdate}"></strong></li>
    <li>관심사 : <strong th:text="${interest}"></strong></li>
</ul>
<a href="/static">홈으로 이동</a>
</body>
</html>
